@import "tailwindcss";

@theme {
  --color-theme-deep-black: #000000;
  --color-theme-stormy-ash: #4d5562;
  --color-theme-gainsboro: #d9d9d9;
  --color-theme-frost: #f8fafc;

  --font-poppins: "Poppins", "sans-serif";

  --text-xs: 0.813rem;
  --text-2_5xl: 2.125rem;
}
