---
import MainLayout from "@/layouts/MainLayout.astro";
import AppCard from "@/components/AppCard.astro";

const articles = [
  {
    title: "Unlocking the Power of Cloud Computing: A Guide to Scalable Solutions",
    date: "November 12, 2024",
    imagePath: "/src/assets/photo_1@2x.png",
    altText: "A comfortable pink bed on a step pyramid.",
  },
  {
    title: "The Future of AI: How Machine Learning is Revolutionizing Industries",
    date: "November 12, 2024",
    imagePath: "/src/assets/photo_3@2x.png",
    altText: "A glass cube balanced precariously on it's corner.",
  },
  {
    title: "The Impact of 5G on Business: How Faster Networks are Transforming the Way We Work",
    date: "November 12, 2024",
    imagePath: "/src/assets/photo_2@2x.png",
    altText: "A moss covered cluster of glass cubes.",
  },
];
---

<MainLayout
  title="devChallenges | Simple Article Listing"
  description="A devChallenges.io coding challenge."
>
  <section class="mt-12 flex max-w-[810px] flex-col gap-4 px-8" aria-labelledby="articles-heading">
    <div class="flex flex-col gap-10 xl:px-20">
      <h1 id="articles-heading" class="text-center text-4xl leading-13 font-semibold">
        We release interesting articles about technology
      </h1>
      <img src="/Seperator.svg" alt="A section separator" class="mx-auto" role="presentation" />
    </div>
    <div class="mt-8 flex flex-col gap-13" role="list" aria-label="Technology articles">
      {
        articles.map((article) => (
          <AppCard
            title={article.title}
            date={article.date}
            imagePath={article.imagePath}
            altText={article.altText}
          />
        ))
      }
    </div>
  </section>
</MainLayout>
